<!doctype html>
<html>
  <head>
    <title>{{ group.name }}</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <h1>{{ group.name }}</h1>
    <p>{{ group.description }}</p>
    <p>Admin: <a href="{% url 'view_user_profile' username=group.admin.username %}>">{{ group.admin.get_full_name }}</a></p>
    <p>Date created: {{ group.date_created }}</p>

    <h2>Members</h2>
    <ul>
      {% for member in group.members %}
        <li><a href="{% url 'view_user_profile' username=member.username %}">{{ member.get_full_name }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
