<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{{ group.name }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/static/css/base.css">
   <link rel="stylesheet" href="/static/css/vendor.css">
   <link rel="stylesheet" href="/static/css/main.css">


   <!-- script
   ================================================== -->
	<script src="/static/js/modernizr.js"></script>
	<script src="/static/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  <style>
  * { font-family: 'Karla', sans-serif !important; }
  ul {
    list-style-type: none;
  }
  input, select {
    padding: 0.5em 1em !important;
    line-height: 1.5em !important;
    height: 3em !important;
  }
  a {
    color: black !important;
  }
  </style>

</head>

<body id="top">

	<!-- header
   ================================================== -->
   <header class="short-header">

   	<div class="gradient-block"></div>

   	<div class="row header-content">

   		<div class="logo">
	         <a href="index.html">Author</a>
	      </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li><a href="/" title="">Home</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'view_user_profile' username=request.user.username %}">My Profile</a></li>
          <li><a href="/users/groups/create/">Create Group</a></li>
          <li><a href="{% url 'my_groups' username=request.user.username %}">My Groups</a></li>
          <li><a href="/projects/myprojects/">My Projects</a></li>
          {% endif %}
          <li><a href="/users/leaderboard/">Leaderboard</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="/users/logout/" title="">Logout</a></li>
          {% else %}
          <li><a href="/users/login/" title="">Login</a></li>
          <li><a href="/users/signup/" title="">Signup</a></li>
          {% endif %}
				</ul>
			</nav> <!-- end main-nav-wrap -->
      <div class="triggers">
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> <!-- end triggers -->
   	</div>

   </header> <!-- end header -->


   <!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
   	<div class="row">
   		<div class="col-twelve">

   			<section>
						<h1 class="entry-title add-bottom">{{ group.name }}</h1>
						<p>{{ group.description }}</p>
            <h6>Admin</h6>
						<p><a href="{% url 'view_user_profile' username=group.admin.username %}">{{ group.admin.get_full_name }}</a></p>
            <h6>Date created</h6>
						<p>{{ group.date_created }}</p>
            <h6>Number of members</h6>
            <p>{{ group.num_members }}</p>
            {% if request.user.username == group.admin.username %}
    <form action="/users/groups/addmember/" method="POST">
      <h2>Add new members</h2>
      {% csrf_token %}
      <input type="text" name="username" class="full-width" placeholder="Type in the username of the user you want to add to this group">
      <input type="hidden" name="groupid" value="{{ group.id }}">
      <input type="submit" value="Add user to this group" class="full-width">
    </form>
    {% endif %}
            <h2>Members</h2>
            <ul>
              {% for member in group.members %}
              <li><h5><a href="{% url 'view_user_profile' username=member.username %}">{{ member.get_full_name }}</a></h5></li>
              {% endfor %}
            </ul>
				</section>
        </div>

   	</div> <!-- end row -->

   </section> <!-- end content -->


   <!-- footer
   ================================================== -->
   <footer>


      <div class="footer-bottom">
      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Abstract 2016</span>
		         	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
		         </div>
	      	</div>

      	</div>
      </div> <!-- end footer-bottom -->

   </footer>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="/static/js/jquery-2.1.3.min.js"></script>
   <script src="/static/js/plugins.js"></script>
   <script src="/static/js/main.js"></script>

</body>

</html>
