<!doctype html>
<html>
  <head>
    <title>{{ user.username }}</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <h1>{{ user.get_full_name }}</h1>
    <p>{{ user.profile.bio }}</p>
    {% if user.profile.email %}
    <p>Email: {{ user.profile.email }}</p>
    {% endif %}
    {% if user.profile.phone %}
    <p>Phone number: {{ user.profile.phone }}</p>
    {% endif %}
    <p>Hours: {{ user.profile.total_hours }} hrs</p>

    <h2>Awards</h2>
    <ul>
    {% for award in user.awards %}
      <li>{{ award }}</li>
    {% endfor %}
    </ul>
    {% if request.user.username == user.username %}
    <p><a href="/users/edit-profile"></a></p>
    {% endif %}
    <p><a href="/">Back to homepage</a></p>
  </body>
</html>
