<!doctype html>
<html>
  <head>
    <title>{{ user.username }}</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <h1>{{ user.get_full_name }}</h1>
    <p>{{ user.profile.bio }}</p>
    {% if user.profile.email %}
    <p>Email: {{ user.profile.email }}</p>
    {% endif %}
    {% if user.profile.phone %}
    <p>Phone number: {{ user.profile.phone }}</p>
    {% endif %}

    <h2>Current Tier:</h2>
    <div id="tier">
      {% if user.profile.total_hours <= BRONZE_HOURS %}
        <span>ROOKIE Tier</span><br>
      {% endif %}
      {% if user.profile.total_hours <= SILVER_HOURS and user.profile.total_hours > BRONZE_HOURS %}
        <span>BRONZE Tier</span><br>
      {% endif %}
      {% if user.profile.total_hours <= GOLD_HOURS and user.profile.total_hours > SILVER_HOURS %}
        <span>SILVER Tier</span><br>
      {% endif %}
      {% if user.profile.total_hours > GOLD_HOURS %}
        <span>GOLD Tier</span><br>
      {% endif %}
        Over <b>{{ user.profile.total_hours }} hours</b> logged so far!
    </div>
    <h2>Progress until next tier:</h2>
    {% if user.profile.total_hours <= BRONZE_HOURS %}
    Only <b>{{ BRONZE_HOURS - user.profile.total_hours }} hours</b> away from <b>BRONZE Tier</b>.<br><br>
    ROOKIE <progress max="100" value="{{ (BRONZE_HOURS - user.profile.total_hours) / (BRONZE_HOURS)}}"></progress> BRONZE
    {% endif %}
    {% if user.profile.total_hours <= SILVER_HOURS and user.profile.total_hours > BRONZE_HOURS %}
    Only <b>{{ SILVER_HOURS - user.profile.total_hours }} hours</b> away from <b>SILVER Tier</b>.<br><br>
    BRONZE <progress max="100" value="{{ (SILVER_HOURS - user.profile.total_hours) / (SILVER_HOURS - BRONZE_HOURS)}}"></progress> SILVER
    {% endif %}
    {% if user.profile.total_hours <= GOLD_HOURS and user.profile.total_hours > SILVER_HOURS %}
    Only <b>{{ GOLD_HOURS - user.profile.total_hours }} hours</b> away from <b>GOLD Tier</b>.<br><br>
    SILVER <progress max="100" value="{{ (GOLD_HOURS - user.profile.total_hours) / (GOLD_HOURS - SILVER_HOURS)}}"></progress> GOLD
    {% endif %}

    <h2>Awards</h2>
    <ul>
    {% for level, type in user.awards %}
      <li><img src="/static/{{ level }}-{{ type }}.gif" width="200px" height="200px">{{ level }} {{ type }} Award</li>
    {% endfor %}
    </ul>
    {% if request.user.username == user.username %}
    <p><a href="/users/edit-profile"></a></p>
    {% endif %}
    <p><a href="/">Back to homepage</a></p>
  </body>
</html>
