<!doctype html>
<html>
  <head>
    <title>Volunteer Find</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <h1>Volunteer Find</h1>
    <div id="projects">
      {% for project in projects %}
      <div class="project">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
      </div>
      {% endfor %}
    </div>
    <div id="panel">
      <button id="findButton">Find Projects</button>
      <button id="createButton">Create Project</button>
      <div id="search">
        <h2>Search for Volunteering Projects</h2>
        <form id="searchForm" action="/" method="GET">
          {% csrf_token %}
          <label for="minduration">Minimum duration</label> <br>
          <input type="number" name="minduration" value="{{ minduration }}"> <br>
          <label for="minduration">Maximum duration</label> <br>
          <input type="number" name="maxduration" value="{{ maxduration }}"> <br>
          <label for="maxdistance">Maximum distance</label> <br>
          <input type="number" name="maxdistance" value="{{ maxdistance }}"> <br>
          <label for="latitude">Latitude</label> <br>
          <input type="number" name="latitude" value="{{ latitude }}" step="any"> <br>
          <label for="longitude">Longitude</label> <br>
          <input type="number" name="longitude" value="{{ longitude }}" step="any"> <br>
          <input type="submit" value="Search for projects">
        </form>
      </div>
      <div id="create">
        <h2>Create a new Project</h2>
        <form id="creationForm" action="/projects/create/" method="POST">
          {% csrf_token %}
          <label for="title">Title</label> <br>
          <input type="text" name="title"> <br>
          <label for="description">Description</label> <br>
          <textarea name="description"></textarea> <br>
          <label for="latitude">Latitude</label> <br>
          <input type="number" name="latitude"> <br>
          <label for="longitude">Longitude</label> <br>
          <input type="number" name="longitude"> <br>
          <label for="type">Type of volunteering</label> <br>
          <input type="text" name="type"> <br>
          <label for="duration">Duration</label> <br>
          <input type="number" name="duration"> <br>
          <input type="submit" value="Create new project">
        </form>
      </div>
    </div>
    <script src="/static/search.js"></script>
    <script>
      if (window.location.search.substr(1) == "") {
        if ("geolocation" in navigator) {
          navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementsByName("latitude")[0].setAttribute("value", position.coords.latitude);
            document.getElementsByName("longitude")[0].setAttribute("value", position.coords.longitude);
          });
        }
      }
      document.getElementById("findButton").addEventListener("click", function() {
        document.getElementById("search").style.display = "block";
        document.getElementById("create").style.display = "none";
      });
      document.getElementById("createButton").addEventListener("click", function() {
        document.getElementById("search").style.display = "none";
        document.getElementById("create").style.display = "block";
      });
    </script>
  </body>
</html>
