<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{{ project.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/static/css/base.css">
   <link rel="stylesheet" href="/static/css/vendor.css">
   <link rel="stylesheet" href="/static/css/main.css">
   <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
   <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>


   <!-- script
   ================================================== -->
	<script src="/static/js/modernizr.js"></script>
	<script src="/static/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  <style>
  * { font-family: 'Karla', sans-serif !important; }
  ul {
    list-style-type: none;
  }
  input, select {
    padding: 0.5em 1em !important;
    line-height: 1.5em !important;
    height: 3em !important;
  }
  a {
    color: black !important;
  }
  </style>

</head>

<body id="top">

	<!-- header
   ================================================== -->
   <header class="short-header">

   	<div class="gradient-block"></div>

   	<div class="row header-content">

   		<div class="logo">
	         <a href="/">Author</a>
	      </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li><a href="/" title="">Home</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'view_user_profile' username=request.user.username %}">My Profile</a></li>
          <li><a href="/users/groups/create/">Create Group</a></li>
          <li><a href="{% url 'my_groups' username=request.user.username %}">My Groups</a></li>
          <li><a href="/projects/myprojects/">My Projects</a></li>
          {% endif %}
          <li><a href="/users/leaderboard/">Leaderboard</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="/users/logout/" title="">Logout</a></li>
          {% else %}
          <li><a href="/users/login/" title="">Login</a></li>
          <li><a href="/users/signup/" title="">Signup</a></li>
          {% endif %}
				</ul>
			</nav> <!-- end main-nav-wrap -->
      <div class="triggers">
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> <!-- end triggers -->
   	</div>

   </header> <!-- end header -->


   <!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
   	<div class="row">
   		<div class="col-twelve">

   			<section>
						<h1 class="entry-title add-bottom">{{ project.title }}</h1>
            <h6>Type of project</h6>
						<p><em>{{ project.type }}</em></p>
            <h6>Description</h6>
						<p>{{ project.description }}</p>
            <h6>Organiser</h6>
						<p><a href="{% url 'view_user_profile' username=project.organiser.username %}">{{ project.organiser.get_full_name }}</a></p>
            <h6>Address</h6>
						<p>{{ project.address }}</p>
            <h6>Postcode</h6>
						<p>{{ project.postcode }}</p>
            <h6>Start date</h6>
						<p>{{ project.start_date }}</p>
            <h6>End date</h6>
						<p>{{ project.end_date }}</p>
            <h6>Estimated hours of work</h6>
						<p>{{ project.duration }} hrs</p>
            <h4>{{ project.num_volunteers }} volunteers have already joined this project</h4>
            {% if request.user.is_authenticated %}
            {% if not project.signed_up %}
            <form action="/projects/signup/" method="POST">
              {% csrf_token %}
              <input type="hidden" name="projectid" value="{{ project.id }}">
              <button type="submit" class="submit button-primary full-width-on-mobile">Sign up</button>
            </form>
            {% else %}
            <h4>You have already joined this project</h4>
            {% endif %}
            <form action="/projects/signupgroup/" method="POST">
              <h2>Sign up to this project as a group</h2>
              <p>All the groups that you are admin of are shown below. You can sign up all the members of these groups to this project with just one click.</p>
              {% if groups %}
              {% csrf_token %}
              <input type="hidden" name="projectid" value="{{ project.id }}">
              {% for group in groups %}
              <input type="checkbox" name="groups" value="{{ group.name }}" style="margin: 0"> <h6 style="display: inline-block; margin-right: 10px">{{ group.name }}</h6>
              {% endfor %}<br>
              <button type="submit" class="submit button-primary full-width-on-mobile">Sign up selected groups</button>
              {% else %}
              <h4>You are not the admin of any group</h4>
              {% endif %}
            </form>
            {% endif %}
            <div id="map" class="map"></div>
            <script type="text/javascript">
              var map = new ol.Map({
                target: 'map',
                layers: [
                  new ol.layer.Tile({
                    source: new ol.source.OSM()
                  })
                ],
                view: new ol.View({
                  center: ol.proj.fromLonLat([{{ project.longitude }}, {{ project.latitude }}]),
                  zoom: 15
                })
              });
            </script>
            {% if project.organiser.username == request.user.username and not project.completed %}
            <h2>Certify volunteers</h2>
            <p>As the organiser of this project, you can mark this project as completed, and choose how many hours to certify each volunteer who participated.</p>
            <button type="submit" form="certify" class="submit button-primary full-width-on-mobile">Certify volunteers</button>
            {% endif %}
            {% if project.num_volunteers > 0 %}
            <h2>Volunteers who have already signed up</h2>
            <form id="certify" method="POST" action="/projects/certify/">
              {% csrf_token %}
              <input type="hidden" name="projectid" value="{{ project.id }}">
              <ul>
                {% for user in project.volunteers %}
                <li><h5><a href="{% url 'view_user_profile' username=user.username %}">{{ user.get_full_name }}</a></h5>
                  {% if project.organiser.username == request.user.username and not project.completed %}
                  <input type="number" value="{{ project.duration }}" name="{{ user.username }}">
                  {% endif %}</li>
                {% endfor %}
              </ul>
            </form>
            {% endif %}
				</section>
        </div>

   	</div> <!-- end row -->

   </section> <!-- end content -->


   <!-- footer
   ================================================== -->
   <footer>


      <div class="footer-bottom">
      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Abstract 2016</span>
		         	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
		         </div>
	      	</div>

      	</div>
      </div> <!-- end footer-bottom -->

   </footer>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="/static/js/jquery-2.1.3.min.js"></script>
   <script src="/static/js/plugins.js"></script>
   <script src="/static/js/main.js"></script>

</body>

</html>
