<!doctype html>
<html>
  <head></head>
  <body>
    <form id="searchForm" action="/projects/search/" method="GET">
      <label for="minduration">Minimum duration</label>
      <input type="number" name="minduration">
      <label for="minduration">Maximum duration</label>
      <input type="number" name="maxduration">
      <label for="maxdistance">Maximum distance</label>
      <input type="number" name="maxdistance">
      <input type="number" name="latitude">
      <input type="number" name="longitude">
      <input type="submit" value="Search for projects">
    </form>
    {% for project in projects %}
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
    {% endfor %}
    <script src="/static/search.js"></script>
  </body>
</html>
